---
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: "0"
    - id: version
      name: Get Version
      run: echo "tag=${GITHUB_REF#refs/*/}" >> "${GITHUB_OUTPUT}"
    - id: meta
      name: Docker meta
      uses: docker/metadata-action@v5
      with:
        flavor: prefix=v,onlatest=false
        images: ghcr.io/${{ github.repository }}
        tags: type=semver,pattern={{version}},value=${{ steps.version.outputs.tag }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        password: ${{ secrets.PAT }}
        registry: ghcr.io
        username: ${{ github.repository_owner }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        build-args: |
          hooks=adsbs
        cache-from: type=gha
        cache-to: type=gha,mode=max
        context: .
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
name: Build and Push
on:
  push:
    tags:
    - "*"
